<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksd.binews.mapper.CoinMarketMapper">
  <resultMap id="BaseResultMap" type="ksd.binews.entity.CoinMarket">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="platform_coin_id" jdbcType="CHAR" property="platformCoinId" />
    <result column="last_price" jdbcType="DECIMAL" property="lastPrice" />
    <result column="first_price" jdbcType="DECIMAL" property="firstPrice" />
    <result column="total_day" jdbcType="DECIMAL" property="totalDay" />
    <result column="flot_range" jdbcType="DECIMAL" property="flotRange" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, platform_coin_id, last_price, first_price, total_day, flot_range, market_price, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coin_market
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectByPlatformCoinId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_coin_market
    where platform_coin_id = #{platformCoinId,jdbcType=CHAR}
  </select>
  <select id="selectListCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_coin_market
    <where>
    	<if test="platformCoinId">
    		and platform_coin_id = #{platformCoinId,jdbcType=CHAR}
    	</if>
    </where>
  </select>
  <insert id="insertBatch" parameterType="ksd.binews.entity.CoinMarket">
		insert into t_coin_market(id,platform_coin_id,last_price,total_day,flot_range,market_price,create_time)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(
				#{item.id,jdbcType=CHAR},
				#{item.platformCoinId,jdbcType=VARCHAR},
				#{item.lastPrice,jdbcType=VARCHAR},
				#{item.totalDay,jdbcType=VARCHAR},
				#{item.flotRange,jdbcType=TIMESTAMP},
				#{item.marketPrice,jdbcType=CHAR},
				#{item.createTime,jdbcType=CHAR}
			)
		</foreach>
	</insert>
	<update id="updateBatch" parameterType="ksd.binews.entity.CoinMarket">
		update t_coin_market
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="last_price = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.lastPrice != null">
						when id=#{item.id} then #{item.lastPrice}
					</if>
					<if test="item.lastPrice == null">
						when id=#{item.id} then t_coin.last_price
					</if>
				</foreach>
			</trim>
			<trim prefix="total_day = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.totalDay != null">
						when id=#{item.id} then #{item.totalDay}
					</if>
					<if test="item.totalDay == null">
						when id=#{item.id} then t_coin.total_day
					</if>
				</foreach>
			</trim>
			<trim prefix="flot_range = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.flotRange != null">
						when id=#{item.id} then #{item.flotRange}
					</if>
					<if test="item.flotRange == null">
						when id=#{item.id} then t_coin.flot_range
					</if>
				</foreach>
			</trim>
			<trim prefix="market_price = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.marketPrice != null">
						when id=#{item.id} then #{item.marketPrice}
					</if>
					<if test="item.marketPrice == null">
						when id=#{item.id} then t_coin.market_price
					</if>
				</foreach>
			</trim>
			<trim prefix="update_time = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.updateTime != null">
						when id=#{item.id} then #{item.updateTime}
					</if>
					<if test="item.updateTime == null">
						when id=#{item.id} then t_coin.update_time
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach collection="list" index="index" item="item"
			separator="," open="(" close=")">
			#{item.id,jdbcType=CHAR}
		</foreach>
	</update>
  <insert id="insertSelective" parameterType="ksd.binews.entity.CoinMarket">
    insert into t_coin_market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="platformCoinId != null">
        platform_coin_id,
      </if>
      <if test="lastPrice != null">
        last_price,
      </if>
      <if test="firstPrice != null">
        first_price,
      </if>
      <if test="totalDay != null">
        total_day,
      </if>
      <if test="flotRange != null">
        flot_range,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="platformCoinId != null">
        #{platformCoinId,jdbcType=CHAR},
      </if>
      <if test="lastPrice != null">
        #{lastPrice,jdbcType=DECIMAL},
      </if>
      <if test="firstPrice != null">
        #{firstPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalDay != null">
        #{totalDay,jdbcType=DECIMAL},
      </if>
      <if test="flotRange != null">
        #{flotRange,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="ksd.binews.entity.CoinMarket">
    update t_coin_market
    <set>
      <if test="platformCoinId != null">
        platform_coin_id = #{platformCoinId,jdbcType=CHAR},
      </if>
      <if test="lastPrice != null">
        last_price = #{lastPrice,jdbcType=DECIMAL},
      </if>
      <if test="firstPrice != null">
        first_price = #{firstPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalDay != null">
        total_day = #{totalDay,jdbcType=DECIMAL},
      </if>
      <if test="flotRange != null">
        flot_range = #{flotRange,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>