<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ksd.binews.mapper.PlatCoinMapper" >
  <resultMap id="BaseResultMap" type="ksd.binews.entity.PlatCoin" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="coin_id" property="coinId" jdbcType="CHAR" />
    <result column="platform_id" property="platformId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleted_flag" property="deletedFlag" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, coin_id, platform_id, create_time, update_time, deleted_flag
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_plat_coin
    where id = #{id,jdbcType=CHAR}
  </select>
  <insert id="insertSelective" parameterType="ksd.binews.entity.PlatCoin" >
    insert into t_plat_coin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coinId != null" >
        coin_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deletedFlag != null" >
        deleted_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="coinId != null" >
        #{coinId,jdbcType=CHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        #{deletedFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ksd.binews.entity.PlatCoin" >
    update t_plat_coin
    <set >
      <if test="coinId != null" >
        coin_id = #{coinId,jdbcType=CHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedFlag != null" >
        deleted_flag = #{deletedFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>